#codigos {
    background-color: black;
}

header {
    background: url('/images/WhatsApp\ Image\ 2020-06-18\ at\ 21.48.26.jpeg') no-repeat;
    height: 430px;
    background-position: center;
    background-size: cover;
}