body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    color: white;
    font-size: 12pt;
    font-weight: 400;
}

header span {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
}

header div#head{
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding-top: 5px;
}

header div#head div {
    display: flex;
    align-items: center;
    font: normal 13pt Arial;
}

header div#head nav {
    display: flex;
    margin-left: 200px;
}

header div#head nav li {
    list-style: none;
    margin: 10px 10px;
    padding: 5px;
}

header div#head nav li a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

header div#head nav li a:hover {
    color: #ffffffc2;
}

img#logo-inicio {
    width: 60px;
    margin-left: 30px;
}

img#search {
    width: 20px;
    cursor: pointer;
}